
b/*
bt/*
*.a
*.so
*.gch
*.geany
LuaAideTest

*.exe
*.lib
*.ilk
*.pdb
*.exp
*.dll
*.aps
buildsys/VS17/.vs
buildsys/VS17/LuaAide
buildsys/VS17/alltag
buildsys/VS17/ulutest
buildsys/VS17/Tester
buildsys/VS17/example_a*
buildsys/VS17/x64
buildsys/VS17/Win32
buildsys/VS17/packages
buildsys/VS17/*.result
buildsys/*/*.user
